h1{
  color: #ef476f;
  background-color: beige;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #ced4da;
  letter-spacing: 2px;
}
.caja{
  padding: 15px;
  margin: auto;
  text-align: center;
  width: 70%;
  background-color: #219ebc;
  border-radius: 5px;
  color:beige ;
  text-shadow: 1px 1px black;
}
.texto1{
  text-align: justify;
  text-indent: 30px;
  line-height: 1.6;
  white-space: normal;

}
.texto2{
  text-align: justify;
  direction: rtl;
}
