h1{
  text-align: center;
  color: crimson;
  text-shadow: 1px 1px 1px black;
}
div{
  padding: 15px;
  margin: auto;
  max-width: 400px;
}

.icono{
  font-size: 2.5em;
  color: cornflowerblue;
  vertical-align: bottom;
}

.rojo{
  font-size: 2.5em;
  color: red;
  vertical-align: middle;
}