h1{
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 2px blueviolet ;
}
  /*widt con porcentaje o max-width para que se adapte al tamño de la pantalla*/
/*.centrar{
  position: relative;
  top: 100px;
  left: 50px;
  width: 50%;
  border: 3px solid firebrick;
  margin: auto;
} */

/*.centrar{
  position: fixed;
  bottom: 0px;
  right: 0px;
  border: 3px solid firebrick;

} */
.padre{
  position: relative;
  top: 10px;
  left: 100px;
  max-width: 300px;
  height: 200px;
  border: 3px solid black;
}
.centrar{
  position: absolute;
  bottom: 70px;
  right: 15px;
  border: 3px solid firebrick;
}