h1{
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 2px blueviolet ;
}
.centrar{
  /*widt con porcentaje o max-width para que se adapte al tamño de la pantalla*/
  width: 50%;
  border: 3px solid firebrick;
  margin: auto;
}