h1, div, p{
  border: 2px solid black;
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 1px 1px black;
  padding: 10px;
  display: block;
}
span{
  display: block;
}
a{
  text-align: center;
  display: block;
  text-decoration: none;
}
a:hover{
  color: darkorchid;
}

li{
  
  text-align: center;
  display: inline;
}